<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mysslibrary">

    <application>
        <activity
            android:name="com.igaptechnologies.mysslibrary.user.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.igaptechnologies.mysslibrary.teacher.TeacherHomeActivity"
            android:exported="true" />
        <activity
            android:name="com.igaptechnologies.mysslibrary.general.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.igaptechnologies.mysslibrary.DBActivity"
            android:exported="true" />
    </application>

</manifest>